s5/steps
s5/utils
s5/data
s5/exp
s5/nohup.out
s5/_runs*
s5/_deprecated_runs
s5/best_wer.txt
s5/source_data
s5/raw_data*
s5/output*
s5/logfile
s5/exe.sh
s5/wordlists/lexicon.txt
s5/wordlists/lexicon133.txt
s5/wordlists/lexicon301.txt
s5/wordlists/combined*
s5/homed
s5/check_duration_audio_files
s5/repos*